Maintainer: drobune <s.yuichi227@gmail.com>
Package: gifrek
Version: 0.1.1
Architecture: all
Depends:  dh-autoreconf, libx11-dev, byzanz, xclip
Description: Create GIF screencast and upload to gyazo.com on Linux
