Maintainer: drobune <s.yuichi227@gmail.com>
Package: gyazo
Version: 0.1.0
Architecture: all
Depends:  dh-autoreconf, libx11-dev, byzanz
Description: Create GIF screencast and upload to gyazo.com on Linux
